body {
  background: #c1e9eb;
}
.birthday-card {
  width: 500px;
  margin:auto;
  height: 500px;
  background: #c19d53;
  color: #fff;
  justify-content: center;
}

p {
  width: 200px;
  font-family: "Noto Sans Mono", monospace;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}
